header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff498;
    height: 300px;
    color: #e8de64;
    > h1{
        font-size: 60px;
        > b{
            color: #c1b752;
        }
    }
} 

main{
    text-align: center;
    
}

// l: left
// r: right
main > img{
    width: 200px;
    &#l{
        float: left;
    }
    &#r{
        float: right;
    }
    margin: 100px 10%;
}