header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff498;
    height: 300px;
    color: #e8de64
}


header > h1{
    font-size: 60px;
}
header > h1 > b{
    color: #c1b752;
}

main{
    text-align: center;
}

main > img{
    width: 200px;
}