body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    flex-wrap: wrap;
}

main{
    $border: 50px;

    display: flex;
    min-width: 500px;

    
    max-width: 700px;
    margin: 100px;
    flex-grow: 1;
    border-radius: $border;
    box-shadow: 0 0 10px #00000015;
    
    > article{
        $percent: 60%;
        &:nth-child(1){
            border-radius: $border 0 0 $border;
            background-color: #fff;
            width: $percent;
            padding: 50px 50px 50px 50px;

            > h1{
                margin-bottom: 30px;
                font-weight: 900;
            }

            > form{
                display: flex;
                flex-direction: column;
                gap: 20px;
                > input{
                    border: none;
                    outline: none;
                    height: 40px;
                    &[type=submit]{
                        background-color: #6633ff;
                        color: #fff;
                        margin-top: 20px;
                        cursor: pointer;
                        transition: all .4s;
                        letter-spacing: 2px;
                        font-size: 15px;
                        &:hover{
                            background-color: #404EEE;
                            letter-spacing: 10px;
                        }
                    }
                    border-radius: 10px;
                    &[type=text], &[type=password] {
                        padding: 0 0 0 10px;
                        font-size: 15px;
                        background-color: #eee;
                        transition: all .3s;
                        transition-timing-function:  cubic-bezier(0, -0.14, 0, 2.16);
                        &:focus{
                            box-shadow: 0 0 10px #00000016;
                            transform: scale(1.01);
                        }
                        &::placeholder{
                            color: #ccc;
                        }
                    }
                    
                }
            }
        }
        &:nth-child(2){
            background-color: #fefefe;
            border-radius: 0 $border $border 0;
            width: 100 - $percent;
            border-left: solid 1px #dddddd39;
            background-image: url("https://raw.githubusercontent.com/5-23/todo/6d38fead0581908323361d1582c5694cf0c05e85/assets/todo!.svg");
            background-size: 190%;
        }
    }
}
