body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    background-image: url("https://raw.githubusercontent.com/5-23/todo/4fdf9b6b26418e09d52a129dcd1cf9862a9edd4d/assets/todo_bg.svg");
    background-size: 20px;  
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

my-post{
    min-width: 200px;
    min-height: 200px;

    max-width: 400px;
    transition: all .5s;
    &:hover{
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1.5);
        transform: scale(1.1) rotate(3deg);
    }
}

article{
    width: 200px;
    height: 200px;
    color: var(--fc);
    > img{
        position: absolute;
        user-select: none;
        width: 200px;
        z-index: 0;
    }
    > h1{
        font-size: medium;
        position: relative;
        z-index: 10;
        padding-top: 10px;
        text-indent:  45px;
    }
    > section{
        position: relative;
        z-index: 10;
        color: var(--fc);
        opacity: .8;
        word-wrap: break-word;
        padding: 10px;
    }
}